<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ question }} POLL</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    </head>
    <body>
        <div>
            <h1>{{ question.question_text }}</h1>

            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}

            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %} {% for choice in question.choice_set.all %}
                <input
                    type="radio"
                    name="choice"
                    id="choice{{ forloop.counter }}"
                    value="{{ choice.id }}"
                />
                <label for="choice{{ forloop.counter }}"
                    >{{ choice.choice_text }}</label
                ><br />
                {% endfor %}
                <input type="submit" value="Vote" />
            </form>
        </div>
        <button>
            <a href="{% url 'polls:index' %}">Go back to all polls</a>
        </button>
    </body>
</html>
