<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <title>Form test page</title>
</head>
<body>
    <h1>VIT-Scheduler</h1>
    <ol>
        <li>Open timetable on VTOP(open only on Chrome/ Opera/ Edge)</li>
        <li>Click anywhere on the webpage.</li>
        <li>Do Ctrl+A, Ctrl+C</li>
        <li>Ctrl+V in the textbox below.</li>
        <li>Click Submit</li>
    </ol>
    <form action="{% url 'polls:result' %}" method="post">
        {% csrf_token %}
        <label for="id">Paste VIT Timetable text here:&nbsp;&nbsp;&nbsp;</label>
        <textarea name="message" id="id" cols="30" rows="10"></textarea>
        <input type="submit" value="submit" />
    </form>
</body>
</html>